# Copia este arquivo para .env e preencha os valores antes de subir os containers
# cp .env.example .env

# Segredo para assinar os tokens JWT — OBRIGATÓRIO trocar em produção
JWT_SECRET=a67f2c79f48d96e1892c7a3b20f275dd1bab151958e7dfa78a74e1d6f4a23fdd65756115b6b179ad1e8a1d149c833e84
